body {
    font-family: "Roboto", serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 2px dashed red;
}

.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.nav-post{
    padding: 25px 0;
}

nav.items{
    gap: 50px;
    display: flex;
}

address.items{
    gap: 50px;
    display: flex;
}

.first-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #2196F3; 
}

.second-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #212121;
}
.post {
    text-align: center;
}

.itemone {
    font-family: "Roboto", serif;
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;

}

.itemone:hover{
    color: #2196F3;
}

.itemtwo {
    font-family: "Roboto", serif;
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
}

.itemtwo:hover{
    color: #2196F3;
}

.itemthree {
    font-family: "Roboto", serif;
    color: #212121;
    text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 2%;

}

.itemthree:hover{
    color: #2196F3;
}

.itemfour {
    font-family: "Roboto", serif;
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
}

.itemfour:hover{
    color: #2196F3;
}

.itemfive {
    font-family: "Roboto", serif;
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
}

.itemfive:hover{
    color: #2196F3;
}





.filters{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 50px 0;
}

.first-btn{
    font-family: "Roboto", serif;
    color: #212121;
    width: 74px;
    height: 38px;
    border: none;
    border-radius: 4px;
}
.first-btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.second-btn{
    font-family: "Roboto", serif;
    color: #212121;
    width: 125px;
    height: 38px;
    border: none;
    border-radius: 4px;
}
.second-btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.third-btn{
    font-family: "Roboto", serif;
    color: #212121;
    width: 112px;
    height: 38px;
    border: none;
    border-radius: 4px;
}
.third-btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.fourth-btn{
    font-family: "Roboto", serif;
    color: #212121;
    width: 104px;
    height: 38px;
    border: none;
    border-radius: 4px;
}
.fourth-btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.fifth-btn{
    font-family: "Roboto", serif;
    color: #212121;
    width: 130px;
    height: 38px;
    border: none;
    border-radius: 4px;
}
.fifth-btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}










.post-end{
    margin: 50px 0;
}

.flex_content3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.info {
    width: 370px;
    margin: 0;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.projects {
    width: 100%;
}

.details {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 6%;
    color: #212121;
    padding-left: 20px;
}

.prof {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3%;
    text-decoration-skip-ink: none;
    color: #757575;
}









.foot {
    background-color: #2F303A;
    padding: 60px 0;
    }
    
    .flex_content4{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin-bottom: 10px;
    }
    
    .first-part-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: #2196F3;
    }
    
    .second-part-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: white;
    }
    
    .address {
        font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    }
    
    .email {
        font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: #FFFFFF99;
    }
    
    .tel {
        font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    text-decoration-skip-ink: none;
    color: #FFFFFF99;
    }